/my-app/JavaApplication4/nbproject/private/
/my-app/JavaApplication4/build/
/my-app/Graphics/nbproject/private/
/my-app/FadeMastersApp/target/
/my-app/FileHandling/nbproject/private/
/my-app/FileHandling/build/
/my-app/JavaApplication7/nbproject/private/
/my-app/CharacterManagementSystem/nbproject/private/
/my-app/CharacterManagementSystem/build/
/my-app/testCMS/target/
